ServicesManagementCentral/ServicesManagementCentral.Web/Web References/wsOrdenesPorEmpacar2/Soriana_WMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GeneraEmbarque">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="embarqueRequest" nillable="true" type="tns:EmbarqueRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmbarqueRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Embarques" type="tns:Embarques" />
          <s:element minOccurs="0" maxOccurs="1" name="siglasCliente" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Embarques">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Embarque" type="tns:Embarque" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Embarque">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="cita" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="codigoPostal" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="colonia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contacto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaLimite" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="montoAsegurado" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="poblacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="razonSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="referencia2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="referencia3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="referencia4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="referencia5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="referencia6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="referencia7" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="servicio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="uccList" type="tns:UccList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UccList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ucc" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GeneraEmbarqueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneraEmbarqueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GeneraEmbarqueSoapIn">
    <wsdl:part name="parameters" element="tns:GeneraEmbarque" />
  </wsdl:message>
  <wsdl:message name="GeneraEmbarqueSoapOut">
    <wsdl:part name="parameters" element="tns:GeneraEmbarqueResponse" />
  </wsdl:message>
  <wsdl:portType name="Soriana_WMSSoap">
    <wsdl:operation name="GeneraEmbarque">
      <wsdl:input message="tns:GeneraEmbarqueSoapIn" />
      <wsdl:output message="tns:GeneraEmbarqueSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Soriana_WMSSoap" type="tns:Soriana_WMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneraEmbarque">
      <soap:operation soapAction="http://tempuri.org/GeneraEmbarque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Soriana_WMSSoap12" type="tns:Soriana_WMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneraEmbarque">
      <soap12:operation soapAction="http://tempuri.org/GeneraEmbarque" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Soriana_WMS">
    <wsdl:port name="Soriana_WMSSoap" binding="tns:Soriana_WMSSoap">
      <soap:address location="https://wmsqa.azurewebsites.net/Soriana_WMS.asmx" />
    </wsdl:port>
    <wsdl:port name="Soriana_WMSSoap12" binding="tns:Soriana_WMSSoap12">
      <soap12:address location="https://wmsqa.azurewebsites.net/Soriana_WMS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>